.izg-button {
  border-radius: $button-border-radius;
  border: 2px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 11px 20px;

  &:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.25);
  }
}

.izg-button--primary {
  background-color: $primary-color-100;
  border-color: $primary-color-100;
  color: white;

  &:hover {
    background-color: $primary-color-interaction;
    border-color: $primary-color-interaction;
    transition: .5s;
  }
}

.izg-button--secondary {
  background-color: transparent;
  border-color: $ligth-black;
  color: $ligth-black;

  &:hover {
    background-color: rgba($ligth-black, 0.25);
    transition: .5s;
  }
}
