$primary-color-100: #2E3440;
$primary-color-200: #3B4252;
$primary-color-300: #434C5E;
$primary-color-400: #4C566A;
$primary-color-base: #2E3440;
$primary-color-interaction: #4C566A;

$secondary-color-100: #7E6E99;
$secondary-color-200: #6E6186;
$secondary-color-300: #5E5373;
$secondary-color-400: #4F4560;
$secondary-color-base: #7E6E99;
$secondary-color-interaction: #4F4560;

$success-color: #A3BE8C;
$warning-color: #EBCB8B;
$danger-color: #BF616A;

$ligth-black: #333;