$spacing-extra-nano: 1px;
$spacing-nano: 2px;
$spacing-extra-small: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-extra-large: 32px;
$spacing-giant: 40px;
$spacing-extra-giant: 48px;
$spacing-extra-huge: 56px;
$spacing-extra-huge: 64px;
